  <nav class="navbar" *ngIf = "authService.isLoggedIn">
    <div class="container-fluid">
      <!-- Nav Header -->
      <div class="navbar-header">
        <!-- Collapse Menu -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Logo -->
        <a class="navbar-brand"><img id="logo" src="../../assets/logo22.png" alt=""></a>
      </div>
      <!-- Nav Collapse -->
      <div class="navbar-collapse collapse" id="collapse-1">
        <!-- Nav Right -->
        <ul class="nav navbar-nav navbar-right">
         <!-- Page 1 -->
         <li><a routerLinkActive="active" [routerLink] = "['/main-dashboard']"><span class="fas fa-2x fa-chart-line"></span><span class="link">Dashboard</span></a></li>
         <!-- Page 2 -->
         <li><a routerLinkActive="active" [routerLink] = "['/self-analyse']"><span class="fas fa-2x fa-vial"></span><span class="link">Remedy Center</span></a></li>
          <!-- Page 3 -->
         <li><a routerLinkActive="active" [routerLink] = "['/tweets']"><span class="fas fa-2x fa-info-circle"></span><span class="link">Info Center</span></a></li>
         <!-- Sign Out -->
         <li><a type="button" (click)="signOut()"><span class="fas fa-2x fa-sign-out-alt"></span><span class="link">Sign Out</span></a></li>
        </ul>
      </div>
    </div>
  </nav>

