<nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">Logo</div>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right nav-tabs">
            <li><a routerLinkActive="active" [routerLink] = "['/main-dashboard']">Page 1</a></li>
            <li><a routerLinkActive="active" [routerLink] = "['/self-analyse']">Page 2</a></li>
            <li><a routerLinkActive="active" [routerLink] = "['/tweets']">Page 3</a></li>
            <li><a>Sign Out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
