#logo {
  width: 150px;
  padding: 0 7px;
}

// Navbar
.navbar {
  background: var(--fg-color);
  border-radius: 0;
  border-bottom: 0;
  margin-bottom: 30px;

  .nav li > a {
    height: 8.8vh;
    width: auto;
    font-size: 18px;
    transition: 0.2s ease-in-out;
    color: #fff;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: var(--bg-color);
      color: var(--accent-color);
      font-size: 14px;
      height: 8.8vh;
      .link {
        width: 100%;
        padding: 0 5px;
        visibility: visible;
        font-size: 17px;
      }
    }
  }
  .link {
    width: 0;
    font-family: "oswald", sans-serif;
    transition: 0.2s ease-in-out;
    visibility: hidden;
    font-size: 0px;
  }

  .navbar-toggle {
    padding-right: 0;
    .icon-bar {
      background: white;
    }
  }
  .navbar-collapse {
    display: block;
  }
  .collapse {
    display: none;
  }

  button {
    background: transparent;
  }
}

// Small Devices
@media (max-width: 769px) {
  #logo {
    margin-left: -20px;
    margin-top: -5px;
  }
  .navbar {
    height: 66px;

    .navbar-header {
      padding: 5px;
    }
    .link {
      display: none;
    }
  }
  .container-fluid {
    display: flex;
    justify-content: space-between;
    .navbar-list ul {
      display: flex;
    }
  }
  .nav li > a {
    // height: 70px;
    &:hover,
    &.active {
      margin: 6px 3px 0 3px;
      background: var(--bg-color);
      font-size: 18px;
      padding-top: 15px;
      padding-bottom: 30px;
      border-radius: 20px 20px 0 0;
    }
  }
}
