
<div class="grid1">
  <div class="logoimg"><img src="../../assets/logo.png" alt=""></div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="formz">
    <div class="form-groups">

      <div class="form-group" *ngIf = "!isLoginMode">
        <label for="name">Full name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name"
        ngModel
        name="name"
        required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
        ngModel
        name="email"
        required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
        ngModel
        name="password"
        required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid" >{{isLoginMode ? "Login" : "SignUp"}}</button>
      <hr>
      <a type="button" style="color: var(--accent-color);" (click)="onSwitchMode()">{{isLoginMode ? "Don't have an account? SignUp" : "Already a member? Login"}}</a>
    </div>
  </form>

</div>


