.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 60px;
  height: 100vh;
  .logoimg {
    text-align: center;
  }
  #formz {
    margin: auto;
    padding: 80px;
    width: 500px;
    height: 600px;
    background-color: var(--fg-color);
    border-radius: 25px;
    .form-groups {
      margin-top: 60px;
    }
    .form-group {
      margin-bottom: 25px;
    }
    label {
      font-size: 20px;
    }
    button {
      width: 100%;
      font-size: 25px;
      text-transform: uppercase;
      background-color: var(--accent-color);
      transition: opacity 150ms ease-in;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
