<div class="container">
  <div class="tab">
    <div class="statusimg">
      <img src="../../assets/normal.png">
      <p class="status">Normal</p>
    </div>
    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci obcaecati sequi dolor dolorem, quae cum? Nesciunt repudiandae ipsum delectus incidunt ad at, eos doloribus? Officia dolor praesentium provident quae?</p>
    <button class="btn btn-default" (click)="triggerModal(modalData)">Analyse Yourself</button>
  </div>
</div>

<ng-template #modalData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
      Answer the following questions...</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit amet magni suscipit, minima libero corporis veniam quibusdam tempora dolorum fugit, doloribus esse laboriosam rem temporibus nam enim autem pariatur ex?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="modal.close('Save click')">Submit</button>
    </div>
  </ng-template>