<app-header></app-header>
<div class="container">
  <div class="tab">
    <div class="status">
      <span class="status-img">

        <img src={{img}} [ngStyle] = "{'border': color}" >
      </span>
      <p class="status-text">{{condition}}</p>
    </div>
    <p class="desc">{{name}}Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci obcaecati sequi dolor dolorem, quae cum? Nesciunt repudiandae ipsum delectus incidunt ad at, eos doloribus? Officia dolor praesentium provident quae?</p>
    <button class="btn btn-default" (click)="triggerModal(modalData)">Analyse Yourself</button>
  </div>
  <div class="mild" *ngIf= "condition === 'Mild'">
    <p>Home Remedies for Mild </p>
  </div>
  <div class="moderate" *ngIf= "condition === 'Moderate'">
    <p>Home Remedies for Moderate </p>
  </div>
  <div class="severe" *ngIf= "condition === 'Severe'">
    <p>Home Remedies for Severe </p>
  </div>
  <div class="remedies">
    <div class="remedies-desc">
      <h2>Remedy Center</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque neque sapiente adipisci tenetur optio alias tempore ut magni dignissimos fuga.</p>
    </div>
    <div class="remedies-cont">
      <div class="remedy-card">
        <header class="remedy-card__header">
          <h2 class="remedy-card__icon">General Remedies</h2>
        </header>
        <section class="remedy-card__body">
            <h2 class="remedy-card__title">General Remedies</h2>
            <span class="remedy-card__desc">Follow these</span>
            <ul class="remedy-card__list">
                <li>this</li>
                <li>this</li>
                <li>this</li>
                <li>this</li>
            </ul>
        </section>
      </div>
      <div class="remedy-card">
        <header class="remedy-card__header">
          <h2 class="remedy-card__icon">General Remedies</h2>
        </header>
        <section class="remedy-card__body">
            <h2 class="remedy-card__title">General Remedies</h2>
            <span class="remedy-card__desc">Follow these</span>
            <ul class="remedy-card__list">
                <li>this</li>
                <li>this</li>
                <li>this</li>
                <li>this</li>
            </ul>
        </section>
      </div>
      <div class="remedy-card">
        <header class="remedy-card__header">
          <h2 class="remedy-card__icon">General Remedies</h2>
        </header>
        <section class="remedy-card__body">
            <h2 class="remedy-card__title">General Remedies</h2>
            <span class="remedy-card__desc">Follow these</span>
            <ul class="remedy-card__list">
                <li>this</li>
                <li>this</li>
                <li>this</li>
                <li>this</li>
            </ul>
        </section>
      </div>
      
    
    </div>
  </div>
  </div>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Analyse yourself by answering these questions</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
  </div>
  <form #f="ngForm" (ngSubmit)="submitForm(f)">
    <div class="form-groups">
      <div class="modal-body">
        <div class="form-group">
          <fieldset>
            <p> Select the following which you are experiencing?</p>
            <div class="params" *ngFor="let symptom of symptoms, let i=index">
              <label for={{symptom}}>
              <input type="checkbox" id={{symptom}} name="{{symptom}}" value={{symptom}}
              ngModel><span>{{symptom}}</span></label>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid" >Submit</button>
      
      </div>

    </div>
  </form>

</ng-template>
