/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  --bg-color: #121017;
  --fg-color: #1a1924;
  --accent-color: #00ffff;
  --color-four: #276678;
}

body {
  background: var(--bg-color);
  color: #fff;
  font-family: "Oswald", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal-open .modal {
  padding: 50px !important;
  top: 20% !important;
}
